html {
  font-size: 62.5%;
  font-family: $roboto;
}

body {
  margin: 0;
  padding: 0 1rem;
  font-size: 1.5em;
  text-align: center;
  background: $background;
  color: $white;
  height: 100vh;
}

h1 {
  margin: 0;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 2rem auto 0;
  width: 100%;
  max-width: 1200px;
}


.move-counter {
  margin: 2rem 0;
}