.difficulty-component {
  .difficulty-list {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: center;
    margin: 2rem 0 0;
  }
  
  .difficulty-item {
    margin: 0 1rem;
  }
}