.header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  max-width: 100rem;
  margin: 0 auto;
  padding: 1.25rem;

  .logo-wrapper {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 1.875rem;
  }

  .logo {
    margin: 0;

    @media screen and (max-width: $md) {
      
    }
  }

  .reset-game {
    fill: white;
    width: 60px;
    border: 0;
  }
  
  .difficulty-list {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: center;
    margin: 0;
  }

  .difficulty-item {
    margin: 0 .625rem;
  }
}