// Color palette
$primary: #000F9F;
$secondary: #0570DA;
$tertiary: #f2ca19;
$quaternary: #c23866;
$white: #FFFFFF;
$black: #000000;

$background: #1b1523;

// Fonts
$roboto: 'Roboto', Arial, Helvetica, sans-serif;

// Font weights
$font-weight-light:     300;
$font-weight-normal:    400;
$font-weight-bold:      700;
$font-weight-heavy:     900;

// Breakpoints
$sm: 544px;
$md: 768px;
$lg: 1012px;
$xl: 1280px;
